@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <h1 class="display-4">Welcome</h1>
    <p>This is a .NET API sample backend implementation utilizing Entity Framework & PostgreSQL database.</p>
    <p>Click respective links below:</p>
    <ul>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Merchants">Merchants</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-page="/Customers">Customers</a></li>
    </ul>

</div>
